:host {
    .mat-icon{
        vertical-align: middle;
        padding-right: 8px;
        margin-top: 5px;
        font-size: 18px;
    }
}

.sidebar-container {
    color: #5e6782;
}

.title {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
}

::ng-deep .mat-list-item-content {
    padding: 0 5px!important;
}

.mat-expansion-panel{
    border-radius: 0px!important;
    box-shadow: none;
    color: #5e6782;
}

.mat-expansion-panel-header {
    padding: 0px 5px;
    height: 30px!important;

    &:hover {
        background-color: white!important;
    }
}

::ng-deep .mat-expansion-panel-body {
    padding-bottom: 0px!important;
}


.mat-list-item.child-menu {
    height: 35px;
    margin-top: 5px;
}

::ng-deep .mat-expansion-indicator {
    margin-top: -5px;
}

// .mat-list-item-content{

    // &:hover {
    //     background-color: #5d679f;
    //     color: white;
    // }

    // &:focus {
    //     background-color: #5d679f;
    //     color: white;
    // }
// }

.active-list-item {
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}